@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700|Enriqueta:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700 &display=swap');


/*-----------------------------------------Colours*/

.bg-color {
    background-color: #001f13;
}



.image {
    padding: 0;
    margin-bottom: 60px;
    position: sticky;
    top: 0;
}



/*-----------------------------------------Special paddings/margins/text*/

/*-----------------------------------------Header*/

.navbar {
    display: block;
    padding: 20px;

}

.navbar-text {
    padding-left: 100px;
    color: #737373;
}



.name {
    font-family: 'Anton', sans-serif;
    font-size: 79px;
    margin: 0;
    color: #dbdbdb;
    padding: 0px;
}

.title {
    font-family: 'Enriqueta', serif;
    font-size: 36px;
    margin: 0px;
    color: #dbdbdb;
    padding: 25px;
}

.title2 {
    font-family: 'Enriqueta', serif;
    font-size: 25px;
    margin: 0px;
    color: #dbdbdb;
    padding: 25px;
}

/*-----------------------------------------Hover.css*/

a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

/*-----------------------------------------Footer*/

footer {
    background-color: #001f13;
    color: #dbdbdb;
    min-height: 50px;
    margin: 0;
    text-align: center;
}

.company-name {
    margin: 0;
    padding: 0;
}

.company-details {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#footer-details {
    padding: 20px;
}

.fa {
    color: #dbdbdb;
}


/*-----------------------------------------Main Page Summary*/

.blurb {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #737373;
    margin: 0px;
    padding: 25px;
}

section {
    background-color: #001f13;
    margin: 0;
}

.main-name {
    background-color: #001f13;
    margin: 0;
}

.blurb-text {
    margin: 15px;
    text-align: center;
    margin-left: 25px;
}


/*-----------------------------------------Work / Education History*/

.work-section {
    text-align: center;
}


.bg-resume {
    margin: 0;
    padding: 0;
}

.coding-title,
.audit-title {
    font-family: 'Open Sans', sans-serif;
    color: #737373;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;

}



.coding {
    font-family: 'Open Sans', sans-serif;
    color: #737373;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}


.audit {
    font-family: 'Open Sans', sans-serif;
    color: #737373;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.qualifications-heading {
    color: #dbdbdb;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}



/*dates of timeline*/

.timeline-data:before {
    content: attr(data-dates);
    position: absolute;
    left: 3em;
    top: 1em;
    display: block;
    font-family: 'Enriqueta', serif;
    font-size: 12px;
}


/*dots on timeline*/

.timeline-data:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: #dbdbdb;
}

/*timeline writing*/

.timeline-data {
    padding: 1.5em 2em 1em 2em;
    position: relative;
    color: #dbdbdb;
    border-left: 1.5px solid;
    font-size: 17px;
}

.timeline-data p {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.timeline-data h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 7px;
    padding-top: 2px;
}


/*-----------------------------------------About Me*/

.about-title {
    color: #737373;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.about-item {
    color: #737373;
    margin: 0;
    padding: 5px;
    font-size: 15px;
}




/*-----------------------------------------Contact Form*/

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}




button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #737373;
    color:#dbdbdb;
}

button[type="submit"]:hover {
    background-color:#333333;
}

.form-thanks {
    color: #737373;
    text-align: ;
}


/*-----------------------------------------Media Queries*/

@media(min-width: 800px) {
    .form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
